body {
  background-color: pink;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  height: 100vh; 
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  border: 2px solid #ff758f; 
  border-radius: 10px;
  padding: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

h1, h3 {
  margin: 10px 0; 
}

.form {
  display: flex;
  gap: 10px; 
}

.input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 200px; 
}

.button, .clear-button, .delete-button {
  padding: 10px;
  background-color: #ff758f; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover, .clear-button:hover, .delete-button:hover {
  background-color: #c9184a; 
}

.todo-list {
  list-style-type: none; 
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: 5px 0; 
  padding: 10px; 
  border-bottom: 1px solid #ccc; 
}

.todo-item:last-child {
  border-bottom: none; 
}
